
@{
    ViewData["Title"] = "ConsejosView";
}

<br />
<br />
<br />
<br />
<div class="container-fluid">
    <div class="row">

        <div class="col-lg-12 col-md-12 col-md-12">
            <div class="card">
                <h5 class="card-header">Prepare su viaje, 5 consejos claves</h5>
                <div class="card-body">
                    <h5 class="card-title">Consejos a la hora de viajar</h5>
                    <p class="card-text">
                        1.- Una vez que decidas el destino al que irás de vacaciones, toma en cuenta la temporada en la que viajarás, si el clima es el que esperas, si hay alguna festividad especial o si habrá demasiado o ningún otro viajero, así tomarás la mejor decisión <br />
                        2.- Al hacer tu maleta toma en cuenta los días en los que estarás y organiza tus atuendos en la cama por separado, antes de meterlos, de esta manera no olvidarás nada. <br />
                        3.- No olvides empacar siempre un atuendo formal, el traje de baño, sandalias y una chamarra, aunque creas que no lo vas a ocupar, uno nunca sabe. <br />
                        4.- Además de llevar tus medicinas y cremas que uses diario, no olvides empacar siempre repelente para mosquitos, bloqueador solar, estamos seguros que te serán muy útiles. <br />
                        5.- A donde quiera que vayas no olvides llevar una copia de tus documentos como credencial de elector y otros que puedas requerir, déjalos en algún lugar seguro de tu maleta, tu cartera  por si llegas a perder tus documentos originales.
                    </p>
                </div>
            </div>
        </div>

    </div>
</div>
<br />
<br />
<br />
<br />
