
@{
    ViewData["Title"] = "CarritoView";
    Layout = "ClienteNav";
}


<div class="container-fluid">

    <div class="col-lg-8 col-md-4 col-sm-4">
        <h5>Carrito</h5>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Reserva</th>
                    <th>Total($)</th>
                </tr>
            </thead>
            <tbody id="content">
                @foreach (Carrito v in Model)
                {
                <tr>

                    <td>@v.codigo_reserva</td>
                    <td>@v.total</td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>

