
@{
    ViewData["Title"] = "CheckInView";
    Layout = "ClienteNav";
}



<br />
<br />


<div class="container-fluid">
    <h2>Elija los asientos</h2>
    <div id="holder">
        <ul id="place"></ul>
    </div>
    <br />
    <br />
    <div>
        <ul id="seatDescription">
            <li style="background-color:lawngreen; margin-right:20px;">Disponibles</li>
            <li style="background-color:red;margin-right:20px;">Ocupados</li>
            <li style="background-color:blue;margin-right:20px;">Seleccionado</li>
        </ul>
    </div>
</div>
<br />
<br />
<br />

<script type="text/javascript">

    var settings = {
        rows: 3,
        cols: 5,
        rowCssPrefix: 'row-',
        colCssPrefix: 'col-',
        seatWidth: 35,
        seatHeight: 35,
        seatCss: 'seat',
        selectedSeatCss: 'selectedSeat',
        selectingSeatCss: 'selectingSeat'
    };

    var init = function (reservedSeat) {
        var str = [], seatNo, className;
        for (i = 0; i < settings.rows; i++) {
            for (j = 0; j < settings.cols; j++) {
                seatNo = (i + j * settings.rows + 1);
                className = settings.seatCss + ' ' + settings.rowCssPrefix + i.toString() + ' ' + settings.colCssPrefix + j.toString();
                if ($.isArray(reservedSeat) && $.inArray(seatNo, reservedSeat) != -1) {
                    className += ' ' + settings.selectedSeatCss;
                }
                str.push('<li class="' + className + '"' +
                    'style="top:' + (i * settings.seatHeight).toString() + 'px;left:' + (j * settings.seatWidth).toString() + 'px">' +
                    '<a title="' + seatNo + '">' + seatNo + '</a>' +
                    '</li>');
            }
        }
        $('#place').html(str.join(''));
    };
    //case I: Show from starting
    //init();

    //Case II: If already booked
    var bookedSeats = [];
    var array = '@(ViewBag.AsientosOcupados)';
    console.log(array);
    init(bookedSeats);

    $('.' + settings.seatCss).click(function () {
        if ($(this).hasClass(settings.selectedSeatCss)) {
            alert('Ya reservado');
        }
        else {
            $(this).toggleClass(settings.selectingSeatCss);
        }
    });

    $('#btnShow').click(function () {
        var str = [];
        $.each($('#place li.' + settings.selectedSeatCss + ' a, #place li.' + settings.selectingSeatCss + ' a'), function (index, value) {
            str.push($(this).attr('title'));
        });
        alert(str.join(','));
    })

    $('#btnShowNew').click(function () {
        var str = [], item;
        $.each($('#place li.' + settings.selectingSeatCss + ' a'), function (index, value) {
            item = $(this).attr('title');
            str.push(item);
        });
        alert(str.join(','));
    });
</script>

<style type="text/css">


    #holder {
        height: 200px;
        width: 350px;
        background-color: #F5F5F5;
        border: 1px solid #A4A4A4;
        margin-left: 10px;
    }

    #place {
        position: relative;
        margin: 7px;
    }

        #place a {
            font-size: 0.6em;
        }

        #place li {
            list-style: none outside none;
            position: absolute;
        }

            #place li:hover {
                background-color: yellow;
            }

        #place .seat {
            background-color: lawngreen;
            height: 33px;
            width: 33px;
            display: block;
        }

        #place .selectedSeat {
            background-color: red;
        }

        #place .selectingSeat {
            background-color: blue;
        }

        #place .row-3, #place .row-4 {
            margin-top: 10px;
        }

    #seatDescription li {
        verticle-align: middle;
        list-style: none outside none;
        padding-left: 35px;
        height: 35px;
        float: left;
    }
</style>
